
.red-class{
	background-color: #F08080!important;
}
.blue-class{
	background-color: #6495ED!important;
}
.green-class{
	background-color: #8FBC8F!important;
}
.silver-class{
	background-color: #C0C0C0!important;
}
.orange-class{
	background-color: #F0E68C!important;
}
.pink-class{
	background-color: #FFC0CB!important;
}
.default-class{
	background-color:;
}